ui/classes/
*.class
.idea/*
*.iml
out/*
META-INF/MANIFEST.MF
core/target/*
ui/.idea/
core/.idea/
ui/target/
ui/src/main/typescript/.idea/
model-rest/target/
domain/target/
.idea
domain-rest/target/
core/core.iml
ui/ui.iml
*.iml
target
.idea
core/classes/META-INF/MANIFEST.MF
core/classes/META-INF/start.bat
ui/src/main/webapp/js/Application.js
ui/src/main/webapp/js/Application.js.map
ui/buildNumber.properties

